<div class="container">
    <form [formGroup]="calculatorForm" (submit)="onSubmit()">
        <div class="row mt-4 g-3">
            <div class="col-12 col-md-6 col-lg-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Initial Amount (₹)</mat-label>
                    <input matInput type="text" autocomplete="off" formControlName="initialAmount"
                        (keypress)="numberOnly($event)"
                        [class.is-invalid]="calculatorForm.get('initialAmount')?.invalid && (calculatorForm.get('initialAmount')?.touched || calculatorForm.get('initialAmount')?.dirty)" />
                    <mat-error
                        *ngIf="calculatorForm.get('initialAmount')?.hasError('required') && (calculatorForm.get('initialAmount')?.touched || calculatorForm.get('initialAmount')?.dirty)">
                        Initial Amount is required
                    </mat-error>
                </mat-form-field>

            </div>


            <!-- Number of Years -->
            <div class="col-12 col-md-6 col-lg-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Number of Years</mat-label>
                    <input matInput type="text" id="numberOfYears" autocomplete="off"
                        formControlName="numberOfYears" (keypress)="numberOnly($event)" />
                    <mat-error
                        *ngIf="calculatorForm.get('numberOfYears')?.hasError('required') && (calculatorForm.get('numberOfYears')?.touched || calculatorForm.get('numberOfYears')?.dirty)">
                        Number of Years is required
                    </mat-error>
                    <mat-error *ngIf="calculatorForm.get('numberOfYears')?.hasError('min')">
                        Must be at least 1 year
                    </mat-error>
                </mat-form-field>


            </div>

            <!-- Step-Up Duration -->
            <div class="col-12 col-md-6 col-lg-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Step-Up Duration (Months)</mat-label>
                    <input matInput type="text" id="stepUpDuration" autocomplete="off"
                        formControlName="stepUpDuration"
                        (keypress)="numberOnly($event)" />
                    <mat-error
                        *ngIf="calculatorForm.get('stepUpDuration')?.hasError('required') && (calculatorForm.get('stepUpDuration')?.touched || calculatorForm.get('stepUpDuration')?.dirty)">
                        Step-Up Duration is required
                    </mat-error>
                    <mat-error *ngIf="calculatorForm.get('stepUpDuration')?.hasError('min')">
                        Must be at least 1 month
                    </mat-error>
                </mat-form-field>


            </div>

            <!-- Step-Up Value -->
            <div class="col-12 col-md-6 col-lg-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Step-Up Value (₹)</mat-label>
                    <input matInput type="text" id="stepUpValue" autocomplete="off" 
                        formControlName="stepUpValue" (keypress)="numberOnly($event)" />
                    <mat-error
                        *ngIf="calculatorForm.get('stepUpValue')?.hasError('required') && (calculatorForm.get('stepUpValue')?.touched || calculatorForm.get('stepUpValue')?.dirty)">
                        Step-Up Value is required
                    </mat-error>
                    <mat-error *ngIf="calculatorForm.get('stepUpValue')?.hasError('min')">
                        Must be at least ₹0
                    </mat-error>
                </mat-form-field>

            </div>
        </div>
        <div class="row mt-4 g-3" *ngIf="show">
            <!-- Start Date -->
            <div class="col-12 col-md-6 col-lg-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="startPicker2" formControlName="startDate"
                          [max]="minDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="startPicker2"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker2></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- End Date -->
            <div class="col-12 col-md-6 col-lg-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="endPicker2" formControlName="endDate" 
                        [min]="minDate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="endPicker2"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="project-links" style="justify-content: left; margin-left: 20px;">
                    <button type="button" (click)="filterTable()">Filter </button>
                </div>
            </div>

        </div>


        <div class="mt-2 mb-5 project-links ">
            <button type="submit">Calculate</button>
            <button type="button" *ngIf="show" (click)="downloadCSV()">Download CSV</button>
            <button type="button" *ngIf="show" (click)="downloadPDF()">Download PDF</button>
        </div>
    </form>

    <div class="container" *ngIf="show">
        <div class="table-responsive">
            <table id="myTable" class="mx-auto table table-bordered table-striped table-hover mt-4 w-75 text-center"
                *ngIf="tableData.length > 0">
                <thead class="table-light">
                    <tr>
                        <th>S.No</th>
                        <th>Month - Year</th>
                        <th>Investment Amount (₹)</th>
                        <th>Cumulative Investment (₹)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of filteredData">
                        <td>{{ row.sNo }})</td>
                        <td>{{ row.displayMonth }}</td>
                        <td>₹{{ row.amount }}</td>
                        <td>₹{{ row.cumulative }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>