<div class="container">
    <form [formGroup]="calculatorForm" (submit)="onSubmit()">
        <div class="row mt-4 g-3">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" autocomplete="off" id="initialAmount" (keypress)="numberOnly($event)"
                        [ngClass]="{
                        'is-invalid': calculatorForm.get('initialAmount')?.invalid && (calculatorForm.get('initialAmount')?.dirty || calculatorForm.get('initialAmount')?.touched),
                        'is-valid': calculatorForm.get('initialAmount')?.valid && (calculatorForm.get('initialAmount')?.dirty || calculatorForm.get('initialAmount')?.touched)}"
                        formControlName="initialAmount" placeholder="Initial Amount (₹)">
                    <label for="initialAmount">Initial Amount (₹)</label>
                    <div *ngIf="calculatorForm.get('initialAmount')?.errors?.['required'] && (calculatorForm.get('initialAmount')?.touched || calculatorForm.get('initialAmount')?.dirty)"
                        class="invalid-feedback text-danger">
                        Initial Amount is required
                    </div>
                </div>
            </div>


            <!-- Number of Years -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" id="numberOfYears" autocomplete="off" class="form-control" min="1" formControlName="numberOfYears"
                        (keypress)="numberOnly($event)" placeholder="Number of Years"
                        [ngClass]="{
                        'is-invalid': calculatorForm.get('numberOfYears')?.invalid && (calculatorForm.get('numberOfYears')?.touched || calculatorForm.get('numberOfYears')?.dirty),
                        'is-valid': calculatorForm.get('numberOfYears')?.valid && (calculatorForm.get('numberOfYears')?.touched || calculatorForm.get('numberOfYears')?.dirty)}">
                    <label for="numberOfYears">Number of Years</label>
                    <div class="invalid-feedback text-danger">
                        <div *ngIf="calculatorForm.get('numberOfYears')?.errors?.['required']">Number of Years is
                            required
                        </div>
                        <div *ngIf="calculatorForm.get('numberOfYears')?.errors?.['min']">Must be at least 1 year</div>
                    </div>
                </div>

            </div>

            <!-- Step-Up Duration -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" id="stepUpDuration" autocomplete="off" class="form-control" min="1" formControlName="stepUpDuration"
                        (keypress)="numberOnly($event)" placeholder="Step-Up Duration (Months)"
                        [ngClass]="{
                        'is-invalid': calculatorForm.get('stepUpDuration')?.invalid && (calculatorForm.get('stepUpDuration')?.touched || calculatorForm.get('stepUpDuration')?.dirty),
                        'is-valid': calculatorForm.get('stepUpDuration')?.valid && (calculatorForm.get('stepUpDuration')?.touched || calculatorForm.get('stepUpDuration')?.dirty)}">
                    <label for="stepUpDuration">Step-Up Duration (Months)</label>
                    <div class="invalid-feedback text-danger">
                        <div *ngIf="calculatorForm.get('stepUpDuration')?.errors?.['required']">Step-Up Duration is
                            required
                        </div>
                        <div *ngIf="calculatorForm.get('stepUpDuration')?.errors?.['min']">Must be at least 1 month
                        </div>
                    </div>
                </div>

            </div>

            <!-- Step-Up Value -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" id="stepUpValue" autocomplete="off" class="form-control" min="0" formControlName="stepUpValue"
                        (keypress)="numberOnly($event)" placeholder="Step-Up Value (₹)"
                        [ngClass]="{
                        'is-invalid': calculatorForm.get('stepUpValue')?.invalid && (calculatorForm.get('stepUpValue')?.touched || calculatorForm.get('stepUpValue')?.dirty),
                        'is-valid': calculatorForm.get('stepUpValue')?.valid && (calculatorForm.get('stepUpValue')?.touched || calculatorForm.get('stepUpValue')?.dirty)}">
                    <label for="stepUpValue">Step-Up Value (₹)</label>
                    <div class="invalid-feedback text-danger">
                        <div *ngIf="calculatorForm.get('stepUpValue')?.errors?.['required']">Step-Up Value is required
                        </div>
                        <div *ngIf="calculatorForm.get('stepUpValue')?.errors?.['min']">Must be at least ₹0</div>
                    </div>
                </div>

            </div>

        </div>

        <div class="mt-2 mb-5 project-links ">
            <button type="submit">Calculate</button>
            <button type="button" *ngIf="show" (click)="downloadCSV()">Download CSV</button>
            <button type="button" *ngIf="show" (click)="downloadPDF()">Download PDF</button>
        </div>
    </form>

    <div class="container" *ngIf="show">
        <div class="table-responsive"> 
            <table id="myTable"class="mx-auto table table-bordered table-striped table-hover mt-4 w-75 text-center"  style="opacity: 0.8;"
                *ngIf="tableData.length > 0">
                <thead class="table-light">
                    <tr>
                        <th>S.No</th>
                        <th>Month - Year</th>
                        <th>Investment Amount (₹)</th>
                        <th>Cumulative Investment (₹)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of tableData">
                        <td>{{ row.sNo }})</td>
                        <td>{{ row.displayMonth }}</td>
                        <td>₹{{ row.amount }}</td>
                        <td>₹{{ row.cumulative }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>