/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgb(0, 0, 0);
  color: black;
  /* Optional: Keep your image or gradient for dark mode */
  /* background-image: url('../public/h2.gif') !important; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

/* body.light-mode {
  background-color: white;
  color: rgb(255, 255, 255);
 
} */
   
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
